<!DOCTYPE html>
<html>
  <head>
    <title>Marta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com.bootstrap.3.3.7.js/bootstrap.min.js" %>

    <%= javascript_include_tag"https://maps.googleapis.com/maps/api/js?=#{ENV['google_api_key']}" %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>


  </body>
</html>
